<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kangyonggan.gitlab.mapper.EmailTemplateMapper">
    <resultMap id="BaseResultMap" type="com.kangyonggan.gitlab.model.EmailTemplate">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="code" jdbcType="VARCHAR" property="code" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
        <result column="template" jdbcType="LONGVARCHAR" property="template" />
    </resultMap>
</mapper>