<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kangyonggan.gitlab.mapper.ProjectUserMapper">
    <resultMap id="BaseResultMap" type="com.kangyonggan.gitlab.model.ProjectUser">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="project_id" jdbcType="BIGINT" property="projectId" />
        <result column="user_id" jdbcType="BIGINT" property="userId" />
        <result column="access" jdbcType="TINYINT" property="access" />
        <result column="expiration_date" jdbcType="DATE" property="expirationDate" />
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    </resultMap>

    <insert id="insertProjectUsers">
        INSERT INTO project_user (project_id, user_id, access, expiration_date) VALUES
        <foreach collection="userIds" item="userId" separator=",">
            (#{projectId}, #{userId}, #{access}, #{expirationDate})
        </foreach>
    </insert>

    <delete id="deleteProjectUsers">
        DELETE FROM project_user
        WHERE project_id IN (SELECT id FROM project WHERE namespace = #{namespace})
    </delete>

    <select id="selectProjectAccess" resultType="java.lang.Byte">
        SELECT a.access FROM project_user a, project b, user c
        WHERE a.project_id = b.id AND a.user_id = c.id
        AND b.namespace = #{namespace} AND b.project_path = #{projectPath}
        AND c.username = #{username}
    </select>

    <select id="selectProjectUsers" resultType="com.kangyonggan.gitlab.dto.ProjectUserDto">
        SELECT a.id, a.access, a.expiration_date AS expirationDate, a.user_id AS userId,
            a.created_time AS createdTime, b.full_name AS fullName, b.username, b.avatar, b.email
        FROM project_user a, user b
        WHERE a.project_id = #{projectId}
        AND a.user_id = b.id
        ORDER BY a.id DESC
    </select>
</mapper>