<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kangyonggan.gitlab.mapper.SignInLogMapper">
    <resultMap id="BaseResultMap" type="com.kangyonggan.gitlab.model.SignInLog">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="user_id" jdbcType="BIGINT" property="userId" />
        <result column="sign_in_ip" jdbcType="VARCHAR" property="signInIp" />
        <result column="sign_in_time" jdbcType="TIMESTAMP" property="signInTime" />
    </resultMap>
</mapper>