<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kangyonggan.gitlab.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.kangyonggan.gitlab.model.User">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="full_name" jdbcType="VARCHAR" property="fullName" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="salt" jdbcType="VARCHAR" property="salt" />
        <result column="sign_up_ip" jdbcType="VARCHAR" property="signUpIp" />
        <result column="sign_up_time" jdbcType="TIMESTAMP" property="signUpTime" />
        <result column="projects_limit" jdbcType="INTEGER" property="projectsLimit" />
        <result column="can_create_group" jdbcType="TINYINT" property="canCreateGroup" />
        <result column="access_level" jdbcType="VARCHAR" property="accessLevel" />
        <result column="avatar" jdbcType="VARCHAR" property="avatar" />
        <result column="last_sign_in_ip" jdbcType="VARCHAR" property="lastSignInIp" />
        <result column="last_sign_in_time" jdbcType="TIMESTAMP" property="lastSignInTime" />
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    </resultMap>

    <select id="selectUsersWithoutGroup" resultMap="BaseResultMap">
        SELECT DISTINCT a.* FROM user a WHERE a.id NOT IN (SELECT b.user_id FROM group_user b WHERE b.group_id = #{groupId})
    </select>
</mapper>